


html, body, article {
  display: flex;
  align-items: stretch;
  justify-content: strecth;
  flex-direction: column;
  margin: 0;
}

html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: -color-3;
}

body {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #F2F4F6;
}

header {
  background-color: #FFFFFF;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  z-index: 20;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

header svg {
    position: relative;
    top: 1px;
    left: 660px;
    width: 22px;
    height: 17px;
    box-sizing: border-box;
    fill: #d5dae0;
    cursor: pointer;

}

h1 {
  font-family:NutanixSoft-Medium;
  font-size:14px;
  color:#22272e;
  position: relative;

    left: 250px; 
    height: 10px;
      font-weight: 400;
}


.status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.status .icon {
  height: 14px;
  width: 14px;
  box-sizing: border-box;
  margin-right: 50px;
  position: relative;
}

.status .icon::after {
  content: '3';
  font-family:NutanixSoft-Semibold;
  position: absolute;
  padding: 5px 6px;
  left: 25px;
  top: -2px;
  font-size: 12px;
  line-height: 7pt;
  display: block;
  text-align: center;
  color: white;
  border-radius: 4pc;
}


.status .task {
  background: url("/Users/alison.cheng/Desktop/NC_Prototype/images/Tasks.svg");
}

.status .task::after {
  background-color: #22A5F7;
  width:10px;
  height:10px;
  
}

.status h6 {
  margin-left: 20px;
  margin-right:20px;
  font-family:NutanixSoft-Medium;
  font-weight: 400;
  font-size:14px;
  color:#b8bfca;
  letter-spacing:0;
  line-height:10px;

}

.status h6:hover {
    color: #627386;
}

.fa-angle-down {
  position: absolute;
  right: 20px;
  color:#B8BFCA;
}



h5{
  font-family:NutanixSoft-Medium;
  font-weight: 400;
  font-size:14px;
  color:#627386;
  margin-left: 290px;
  margin-top: 30px;

}

#category{
    color: #627386;
    margin-top: 90px;   
    margin-bottom: -90px;
}


.main-body{
  display: block;

}

.tile-canvas{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    margin-bottom: -20px;
}

.main-body .tile-canvas .tile {
    margin-top: 112px;
    margin-left: 290px;
    border-radius: 4px;
    background-color: #fff;
    width: 300px;
    height: 310px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,0) 0 1px 1px, rgba(0,0,0,0) 0 3px 3px, rgba(0,0,0,0) 0 9px 9px;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.star{
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
}
.alerts{
  position: absolute;
  margin-left: 110px;
  margin-top: 30px;
}
.settings{
  position: absolute;
  margin-left: 258px;
  margin-top: 30px;
}



.tile-header h3 {
  font-family: NutanixSoft-Thin;
  font-weight: 300;
  color:#22272E;
  font-size:29px;
  position: relative;
  
  margin-top: 147px;
  text-align: center;
}

.tile-header h4{
  font-family: NutanixSoft-Regular;
  font-weight: 400;
  color:#627386;
    margin-left: 30px;
    margin-right: 30px;
  line-height:1.6;
  text-align: center;
  overflow-wrap: break-word;
}
.btn{
  background-color: #22A5F7;
  border: none;
  border-radius: 4px;
  width: 210px;
  margin-left: 30px;
  padding: 11px 15px;
  font-family: NutanixSoft-Medium;
  display: inline-block;
  color:#fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;

}
.btn:hover {
    background-color: #1F88DE; 
    color: white;
}

.btngrn{
  background-color: #31BB67;
  border: none;
  border-radius: 4px;
  width: 210px;
  margin-left: 30px;
  padding: 11px 15px;
  font-family: NutanixSoft-Medium;
  display: inline-block;
  color:#fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;

}
.btnalerts{
  background-color: #22A5F7;
  border: none;
  border-radius: 4px;
  width: 210px;
  margin-left: 30px;
  padding: 11px 15px;
  font-family: NutanixSoft-Medium;
  display: inline-block;
  color:#fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;

}

.btnalerts:hover {
    background-color: #1F88DE; 
    color: white;
}


.btngrn:hover {
    background-color: #2BA664; 
    color: white;
}

.prism {
    margin-top: -330px;
    margin-left: 630px;
    border-radius: 4px;
    background-color: #fff;
    width: 300px;
    height: 310px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,0) 0 1px 1px, rgba(0,0,0,0) 0 3px 3px, rgba(0,0,0,0) 0 9px 9px;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    flex-direction: column;

}

.calm {
    margin-top: -330px;
    margin-left: 970px;
    border-radius: 4px;
    background-color: #fff;
    width: 300px;
    height: 310px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,0) 0 1px 1px, rgba(0,0,0,0) 0 3px 3px, rgba(0,0,0,0) 0 9px 9px;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.era {
    
    margin-left: 290px;
    border-radius: 4px;
    background-color: #fff;
    width: 300px;
    height: 310px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,0) 0 1px 1px, rgba(0,0,0,0) 0 3px 3px, rgba(0,0,0,0) 0 9px 9px;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.permissions {
    margin-top: -330px;
    margin-left: 630px;
    border-radius: 4px;
    background-color: #fff;
    width: 300px;
    height: 310px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,0) 0 1px 1px, rgba(0,0,0,0) 0 3px 3px, rgba(0,0,0,0) 0 9px 9px;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.updates {
    margin-top: -330px;
    margin-left: 970px;
    border-radius: 4px;
    background-color: #fff;
    width: 300px;
    height: 310px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,0) 0 1px 1px, rgba(0,0,0,0) 0 3px 3px, rgba(0,0,0,0) 0 9px 9px;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    flex-direction: column;
}

/*dropdown--*/

.fa-angle-up {
    position: relative;
    bottom:5px;
    left: -3px;
    transform: rotate(180deg); 
    cursor: pointer;
}

.dropbtn {
  width:10px;
  height:10px;
  background-color: #F2F4F6;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    position:relative;
    left:-150px;
    cursor: pointer;
    border-radius: 50%;


}

.dropbtn:hover {
    background-color: #D5DAE0;
    outline: 0;
  border: none;
  -moz-outline-style: none;
}

.dropbtn:focus {
    background-color: #D5DAE0;
    outline: 0;
  border: none;
  -moz-outline-style: none;
   transform: rotate(180deg); 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:  absolute;
    left:-400px;
    top:40px;
    background-color: #FFFFFF;
    height:210px;
    min-width: 420px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
    z-index: 1;
    border-radius: 4px;

}

.dropdown-content a {
    text-decoration: none;

}



.show {display: block;}

div.items {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    width:55px;
    position: relative;
    font-family:NutanixSoft-Medium;
    color:#627386;
    font-size:14px;
    font-weight: 400
}
div.items:hover{
  color:#22272E;
   opacity: 0.8;
}

.caption {
    /* Make the caption a block so it occupies its own line. */
    margin-top:10px;
    display: block;
}

#page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    background-image: url("https://3.bp.blogspot.com/-TPagpYykEQA/UnJ3yz1ymII/AAAAAAAABEk/4yqujuQ1yAQ/s1600/Loading+(5).gif");
    background-repeat: no-repeat;
    background-position: center;
}
